@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");


@media (max-width: 700px) {
  .banner {
      width: 500px;
  }
}

@media (max-width: 500px) {
  .image {
      width: 300px;
  }
}


body {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  a {
    font-family: 'Roboto', serif;
    text-decoration: none;
  }

  p{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 250px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 230px 400px 230px;
  }

  .card{
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 20px
  }

  .card img {
    width: 150px;
    border-radius: 10px;
  }

  .card h3 {
    flex-grow: 1;
    padding-left: 20px;
  }


 
